#main_img{
    display: block;
    margin: 0 auto;
    border-radius: 20px;
    
}

#main_img:hover{
    transform:scale(1.05);
    transition: 0.5s all;
}

body{
    font-family: sans-serif;
}
.small_image{
    border-radius: 8px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.small_image:hover{
    transform:scale(1.1);
    transition: 0.5s all;
}
#Sobor_pic{
    width:  160px;
    height: 330px;
    
}

#Dvor_pic{
    width:  320px;
    height: 210px;
}

#Kronwerk_pic{
    width:  240px;
    height: 196px;
}

#Bastion_pic{
    width:  256px;
    height: 192px;
}
